SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=config.settings.development

# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Redis / Celery
REDIS_URL=redis://localhost:6379/0

# Business logic
COMMISSION_RATE=0.03

# Email (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=Tamasha Events <noreply@tamasha.co.tz>
SERVER_EMAIL=errors@tamasha.co.tz
ADMIN_NOTIFICATION_EMAIL=

# Africa's Talking (SMS)
AFRICASTALKING_USERNAME=
AFRICASTALKING_API_KEY=
AFRICASTALKING_SENDER_ID=

# AzamPay (Payments)
AZAMPAY_APP_NAME=
AZAMPAY_CLIENT_ID=
AZAMPAY_CLIENT_SECRET=
AZAMPAY_BASE_URL=https://sandbox.azampay.co.tz

# Site
SITE_DOMAIN=http://127.0.0.1:8000